name: CI

on:
  push:
    branches:
    - main
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 24

    - name: Install dependencies
      run: npm ci

    - name: Run tests and collect coverage
      run: |
        npm run test -- --coverage

    - name: Upload coverage to Codecov
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
        npx codecov
